body{
  background-color: #EAF6F6;
  margin: 0;
}

img{
  width: 200px;
}

h1{
  color: #66BFBF;
    margin-top: 0;
}

h3{
  color: #66BFBF;
    margin-top: 0;
}

hr{
  border-style: none;
  border-top-style: dotted ;
  border-color: aqua;
  border-width: 5px;
  width: 25%;
}
